<td:textdata xmlns:td="http://diagnostics.xsd.corpintra.net/vdp/textdata">
  <td:system>LOC</td:system>
  <td:version>$version</td:version>
  <td:type>textdata</td:type>
  <td:datetime>$timestamp</td:datetime>
  <td:locale>$lang</td:locale>
  <td:textsystems>
    <td:textsystem>
      <td:name>DAS</td:name>
      <td:file>DAS_TRANSLATION_$lang.csv</td:file>
      <td:objectcount>$dascnt</td:objectcount>
    </td:textsystem>
    <td:textsystem>
      <td:name>XD</td:name>
      <td:file>XD_TRANSLATION_$lang.csv</td:file>
      <td:objectcount>$xdcnt</td:objectcount>
    </td:textsystem>
  </td:textsystems>
</td:textdata>